{% extends "base.html" %} {% block body %}
<section class="header">
    <h2 class="title">Share a seed.</h2>
</section>
<section>
    <div class="container">
        <div>
            {% if form.errors %}
            <div class="has-error">Copy the seed from quorum and paste it here:</div>
            {% endif %}
        </div>

        <form action="{{ url_for('main.add_seed') }}" method=post>
            {{ form.hidden_tag() }}
            <dl>
                <dd>{{ form.seed(class_="u-full-width", placeholder="one seed one time.", maxlength=2000) }}</dd>
                <dd>{{ form.submit(class="button button-primary", value="Commit") }}</dd>
            </dl>
        </form>

    </div>
</section>
{% endblock %}