{% extends"base.html" %}{% block js %}
<script src="{{ url_for('static', filename='js/seed.js') }}"></script>
{% endblock %} {% block body %}

<section class="header">
    <h3 class="title">{{seed.group_name}} </h3>
    <span>{{seed.group_id}} </span>
    <span>{{seed.create_at}}</span>
</section>
<section class="container">
    <div class="comments">
        <ul>
            <li> Template {{seed.app_key}} </li>
            <li> Consensus {{seed.consensus_type}} </li>
            <li> Encryption {{seed.encryption_type}} </li>
        </ul>
    </div>
</section>
<section class=" container">
    <h3 class="docs-header"> Your Opnion </h3>
    {% if form.errors %}
    <div class="has-error"> Ooopps.Something went wrong.</div>
    {% endif %}

    <form name="commentForm" , method=post>{{form.hidden_tag()}}

        <dl>
            <li>{{form.text(class_="u-full-width", placeholder="How about this seednet?", value="", maxlength=128)}}
            </li>
            <li>{{form.stars(placeholder="number 1-5", value="", maxlength=1)}}
            </li>
            <li>{{form.submit(class="button button-primary", value="Commit")}}
            </li>
        </dl>

    </form>
</section>
<section class="container">
    <div class="column comments">
        <h3 class="docs-header"> Comments </h3>
        <table>
            {% for comment in seed.comments %}
            <tr>
                <th class="table-content">{{comment.id}} </th>
                <th class="table-content">{{comment.stars}} </th>
                <th class="table-content">{{comment.commenttext}} </th>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>


{% endblock %}