{% extends "base.html" %} {% block js %}
<script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript" id="js">
    $(document).ready(function() {
        var timeExtraction = function(node) {
            if ($(node).attr('data-time-in-seconds') !== undefined) {
                return '-' + node.getAttribute('data-time-in-seconds');
            } else {
                return node.innerHTML;
            }
        }
        $("#seed-overview-table").tablesorter({
            textExtraction: timeExtraction
        });
    });
</script>
{% endblock %}{% block body %}
<section class="header">

    <div class="row">
        <div class="u-full-width">
            <h6 class="docs-header seed-overview">Click the name the get more information.</h6>

            <table id="seed-overview-table" class="tablesorter">
                <thead>
                    <tr>
                        <th class="table-title">Name</th>
                        <th class="table-title">ID</th>
                        <th class="table-title">Info</th>
                        <th class="table-title">Seed</th>
                        <th class="table-title">Copy</th>
                        <th class="table-title">CreatedAt</th>
                        <th class="table-title">SharedAt</th>
                    </tr>
                </thead>
                <tbody>
                    {% for seed in seeds %}
                    <tr>
                        <td class="table-content">
                            <a href="{{ url_for('main.seed_info', group_id=seed.group_id) }}">{{ seed.group_name }}</a></td>
                        <td class="table-content">{{ seed.group_id }}</td>
                        <td class="table-content">{{ seed.app_key }}
                            <br/>{{ seed.consensus_type }}
                            <br/>{{ seed.encryption_type }}</td>
                        <td>
                            <textarea class="seedtext" id="copyseed" name="text" readonly="readonly">{{seed.seed}}</textarea>
                        </td>
                        <td><button class="button button-primary" onclick="copy()"> Copy Seed</button></td>
                        <td class="table-content">{{ seed.create_at }}</td>
                        <td class="table-content" data-time-in-seconds="{{ seed.add_at|in_seconds }}">{{ seed.add_at|humanize }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
    function copy() {
        var ele = document.getElementById("copyseed");
        ele.focus();
        ele.setSelectionRange(0, ele.value.length);
        if (document.execCommand('copy', false, null)) {
            alert("Success.");
        } else {
            alert("Failed.");
        }
    };
</script>
{% endblock %}